<h1><%= @task.title %></h1>

<div id = " " >
  <p><%= @task.details %></p>
</div>

<% if @task.completed == true  %>
  <i class="far fa-check-square"> <span>This task is completed!</span>
  <% else %>
  <i class="far fa-square"> <span>This task is not completed yet!</span>
<% end %>
<br>
<br>
<%=  link_to 'Edit List', task_edit_path%>
<br>
<br>
<%= link_to 'Back to List', tasks_path %>

